@keyframes vapor4 {
  0% {color: rgba(150,255,255,.5);}
  50% {color: rgba(73,0,255,.6);}
  100% {color: rgba(150,255,255,.5);}
}

.bubble {
  color: blue;
  padding: 20px;
  margin: 10px;
}

.bubble2 {
  background: linear-gradient(orange, coral);
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  text-align: justify;
}


.hungry {
  color: red;
  background: linear-gradient(orange, coral);
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  text-align: justify;
}

.happy {
  color: green;
  font-stretch: ultra-expanded;
  text-decoration: underline;
  text-shadow: 3px;
  margin-left: inherit;
}

.dont{
  color:red;
  height:100px;
}


.tired {
  background-color: linear-gradient(purple, lightblue);
  padding: 40px;
  margin: 20px;
  border-radius: 10px;
  text-align: left;
  }
  
