body {
  background-color: black;
  font: 10px courier, sans-serif;
  color: green;
}


a {
  border: 1px dotted #1d1d1d;
  color: #3388ff;
  padding: 2px;
}

.title {
  font: 15px Courier, sans-serif;
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
}

#usernameInput {
  position: absolute;
  top: 35%;
  left: 20%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  outline: none;
  font: 15px Courier, sans-serif;
  color: white;
}

.container {
  display: flex;
  flex-direction: row;
  margin: auto;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0px;
}

.container.form {
  color: #0000ff;
}

#login {
  background-color: green;
  z-index: 100;
}

#history {
  font: 12px courier;
  background-color: transparent;
  color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

#submitText {
  background-color: #f9f9f9;
  min-width: 260px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

#chatpage {
  background-color: black;
  display: none;
}

#video {
  background-color: transparent;
  display: none;
}

.chatcontainer {
  height: 80vh;
  width: 100%;
}


#chatimages img {
  width: 100%;
}


.inputcontainer {
  position: fixed;
  width: 100vw;
  bottom: 0px;
  height: 10vh;
}

#textInput {
  width: 50%;
}

.messagecontainer {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
}

.messagename {
  font-weight: bold;
  flex: 0 0 100px;
  text-align: right;
  border-right: 1px solid black;
  margin-right: 10px;
  padding-right: 10px;
}

.messageclasses {
  flex: 0 0 calc(50% - 100px);
  font-size: 0.8em;
  text-align: right;
  border-right: 1px solid black;
  margin-right: 10px;
  padding-right: 10px;
  color: #AAA;
}

.messagetext {
  flex: 0 0 calc(50% - 100px);
}

.messagetext p {
  margin: 0px;
}

.messageimg {
  flex: 0 0 calc(50% - 100px);
  text-align: right;
}

.messageimg img {
  max-width: 100%;
  max-height: 300px;
}




#dynamicstyles {
  font-family: Courier, monospace;
}

.stylecontainer {
  display: flex;
  margin: 10px;
}

.styleselector {
  flex-basis: 100px;
  text-align: right;
  margin-right: 10px;
}

.stylerules::before{
  content: " { ";
}
.stylerules::after {
  content: " }";
}
