body {
  background-color: #dddddd;
  font: 15px Arial, sans-serif;
}


a {
  border: 1px dotted #1d1d1d;
  color: #3388ff;
  padding: 2px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin: auto;
}

.chatcontainer {
  height: 80vh;
  width: 100%;
}


#chatimages img {
  width: 100%;
}


.inputcontainer {
  position: fixed;
  width: 100vw;
  bottom: 0px;
  height: 10vh;
}

#textInput {
  width: 50%;
}

.messagecontainer {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
}

.messagename {
  font-weight: bold;
  flex: 0 0 100px;
  text-align: right;
  border-right: 1px solid black;
  margin-right: 10px;
  padding-right: 10px;
}

.messageclasses {
  flex: 0 0 calc(50% - 100px);
  font-size: 0.8em;
  text-align: right;
  border-right: 1px solid black;
  margin-right: 10px;
  padding-right: 10px;
  color: #AAA;
}

.messagetext {
  flex: 0 0 calc(50% - 100px);
}

.messagetext p {
  margin: 0px;
}

.messageimg {
  flex: 0 0 calc(50% - 100px);
  text-align: right;
}
 
.messageimg img {
  max-width: 100%;
  max-height: 300px;
}




#dynamicstyles {
  font-family: Courier, monospace;
}

.stylecontainer {
  display: flex;
  margin: 10px;
}

.styleselector {
  flex-basis: 100px;
  text-align: right;
  margin-right: 10px;
}

.stylerules::before{
  content: " { ";
}
.stylerules::after {
  content: " }";
}
