body {
  background-color: black;
  font: 10px courier, sans-serif;
  color: green;
}


a {
  border: 1px dotted #1d1d1d;
  color: #3388ff;
  padding: 2px;
}

.title {
  display: none;
  position: absolute;
  top: 43%;
  left: 69%;
  font: 15px Courier, sans-serif;
  color: white;
}

#usernameInput {
  display: none;
  position: absolute;
  top: 51%;
  left: 67%;
  background-color: transparent;
  border: 1px solid white;
  outline: 1px;
  font: 15px Courier, sans-serif;
  color: white;
  padding: 12px 16px;
}

.container {
  display: flex;
  flex-direction: row;
  margin: auto;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0px;
}

.container.form {
  color: #0000ff;
}

#login {
  background-color: black;
  z-index: 100;
}

#history {
  font: 12px courier;
  background-color: transparent;
  color: red;
  min-width: 100px;
  max-width: 450px;
  border: 1px solid grey;
  padding: 12px 16px;
  z-index: 1;
}

#punctuation {
  font: 12px courier;
  background-color: transparent;
  color: red;
  min-width: 30px;
  max-width: 120px;
  border: 1px solid grey;
  padding: 12px 16px;
  z-index: 1;
}

#preface {
  font: 12px courier;
  background-color: transparent;
  color: red;
  min-width: 30px;
  max-width: 240px;
  border: 1px solid grey;
  padding: 12px 16px;
  z-index: 1;
}

#submitText {
  font: 12px courier;
  background-color: transparent;
  border: 1px solid grey;
  color: red;
  min-width: 260px;
  padding: 12px 16px;
  min-width: 60px;
  max-width: 240px;
  z-index: 1;
}

#pressplay {
  position: absolute;
  top: 50%;
  left: 45%;
  font: 12px courier;
  background-color: transparent;
  color: red;
  min-width: 260px;
  border: 1px solid white;
  padding: 24px 32px;
  min-width: 60px;
  max-width: 240px;
  z-index: 1;
}

#chatpage {
  background-color: black;
  display: none;

}

#video {
  background-color: transparent;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -99;
}

.chatcontainer {
  height: 85vh;
  width: 100%;
  overflow-y: scroll;

}



#chatimages img {
  width: 100%;
}


.inputcontainer {

  position: fixed;
  width: 100vw;
  bottom: 0px;
  height: 10vh;
}

#textInput {
  width: 50%;
}

.messagecontainer {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
}

.messagename {
  font-weight: bold;
  flex: 0 0 100px;
  text-align: right;
  border-right: 1px solid black;
  margin-right: 10px;
  padding-right: 10px;
}

.messageclasses {
  flex: 0 0 calc(50% - 100px);
  font-size: 0.8em;
  text-align: right;
  border-right: 1px solid black;
  margin-right: 10px;
  padding-right: 10px;
  color: #AAA;
}

.messagetext {
  flex: 0 0 calc(50% - 100px);
}

.messagetext p {
  margin: 0px;
}

.messageimg {
  flex: 0 0 calc(50% - 100px);
  text-align: right;
}

.messageimg img {
  max-width: 100%;
  max-height: 300px;
}




#dynamicstyles {
  font-family: Courier, monospace;
}

.stylecontainer {
  display: flex;
  margin: 10px;
}

.styleselector {
  flex-basis: 100px;
  text-align: right;
  margin-right: 10px;
}

.stylerules::before{
  content: " { ";
}
.stylerules::after {
  content: " }";
}
